.signup-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signup-form {
  display: flex;
  flex-direction: column;
  max-width: 560px;
}
.signup-form label {
  font-size: 20px;
  font-weight: 550;
}

.signup-form input,
select {
  margin-top: .25rem;
  padding: .5rem;
  border-radius: 4px;
}
.signup-form button {
  margin: 1rem 0;
  padding: .5rem;
  cursor: pointer;
} 
.form-field {
  margin: 1rem 0;
  display: grid;
}
.error {
  color: rgb(214, 24, 24);
  margin: 0;
}
